/* general */
.content-container {
    margin: 2rem;
}
.content-title {
    color: white;
}

/* today content */
#today-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.today-game-cards {
    background-color: #9E5731  ;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;    
    max-width: 30rem;
    align-items: center;
}
.today-team-titles {
    
}
.schedule-team-logo {
    width: 3rem;
    height: auto;
}

/* Standings */
#standings-list {
    background-color: #9E5731;
    list-style-type: none;
    padding: 2rem;
    border-radius: 3px;
}
#standings-list > li {
    background-color: #a07862;
    padding: 1rem;

}
.standings-team-logo {
    width: 2rem;
    height: auto;
}