/* general */
.content-container {
    margin: 2rem;
}
.content-title {
    color: white;
}

/* today content */
#today-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.today-game-cards {
    background-color: #666666  ;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;    
    max-width: 30rem;
    align-items: center;
}
.today-team-titles {
    
}
.schedule-team-logo {
    width: 3rem;
    height: auto;
}

/* Standings */
#standings-table {
    background-color: #666666;
    padding: 2rem;
    border-radius: 3px;
    
    border-collapse: separate; 
    font-size: 1.2rem;
}
#standings-table tbody {
    background-color: rgb(65, 58, 53)
}
#standings-table th {
    padding: 1rem;
    color: black;
}
#standings-table td {
    padding: 1rem;
}
.standings-team-logo {
    width: 2rem;
    height: auto;
}